.gallery-section {
  background-color: var(--bg-color);
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.gallery-img {
  /* max-width: 100%; */
  /* height: auto; */
  display: block;
  width: 390px;
  height: 250px;
  background-position: center;
}


